.button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: inherit;

    cursor: pointer;
}

.form__btn {
    display: inline-block;
    @include font-source-sans(14px, $main-dark, 600, 19px, 0.04em);
    @include padding(15px 30px);
    margin-top: 30px;
    font: {
        family: 'Open Sans';
        style: normal;
    }
    text-transform: capitalize;
    box-shadow: 0px 2px 4px rgba(255, 211, 36, 0.12),
        0px 3px 4px rgba(255, 211, 36, 0.2),
        0px 10px 32px rgba(255, 211, 36, 0.24);
    border-radius: 8px;
    background-color: $main-accent-yellow;
    transition: box-shadow $animation, letter-spacing $animation;

    &:hover,
    &:focus {
        box-shadow: none;
        letter-spacing: 0.05em;
    }
}

.btn__apple {
    @include size(209px, 70px);
    border-radius: 7px;
}

.btn__google {
    @include size(235px, 70px);
    border-radius: 5px;
}

.btn__apple,
.btn__google {
    @extend %center;
    mix-blend-mode: normal;
    border: 2px solid #7165e3;
}

.btn__apple-white {
    border-color: $main-white;
}
.btn__google-white {
    border-color: $main-white;
}
