.form {
    // padding: 20px;
    // margin: 20px;
    // width: 600px;
    width: 100%;
}

.form__field {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.form__label {
    @include position(absolute, 50% null null 20px);
    transform: translateY(-50%);
    transition: opacity $animation;
    @include font-source-sans(14px, $main-secondary, normal, 19px, 0.02em);

    font: {
        family: 'Open Sans';
        style: normal;
    }

    text-transform: capitalize;
}

.form__label-text {
    @include position(null, 20px null null null);
}

.form__input,
.textarea {
    width: 100%;
    margin: 0;
    padding: 16px;
    font: inherit;
    border-radius: 8px;
    border: 1px solid $form-border;
}

.textarea {
    @include size(100%, 160px);
    resize: none;
}

.form__field:focus-within > .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    opacity: 0;
}
