.footer {
    @include padding(40px null 15px null);

    @include for-size(tablet-portrait-up) {
        @include padding(50px null 18px null);
    }

    @include for-size(desktop-up) {
        @include padding(38px null 21px null);
    }
}

.footer__wrapper {
    outline: 1px solid tomato;

    @include for-size(tablet-portrait-up) {
    }

    @include for-size(desktop-up) {
        display: flex;
        width: 966px;
    }
}
.footer__descr,
.contacts__descr {
    @extend %reset;
}

.contacts__link {
}

.footer__descr,
.contacts__descr,
.contacts__link {
    font: {
        family: 'Open Sans';
        style: normal;
    }

    @include font-source-sans(16px, $main-secondary-font, normal, 22px, 0.02em);
}

.footer__information {
    @include for-size(tablet-portrait-up) {
        display: flex;
    }

    @include for-size(desktop-up) {
    }
}

.links__wrapper {
    @include for-size(tablet-portrait-up) {
        margin-right: 113px;
    }

    @include for-size(desktop-up) {
        margin-right: 154px;
    }
}
