.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site__logo {
}

.site__nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
}

.nav__link {
}

.form__select {
}
