<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="form__wrapper">
                <h3 class="section__title form__title">Зв'яжіться з нами</h3>
                <form class="form" autocomplete="off">
                    <label class="form__field">
                        <input
                            type="text"
                            class="form__input"
                            name="name"
                            placeholder=" "
                        />
                        <span class="form__label">ім'я</span>
                    </label>

                    <label class="form__field">
                        <input
                            type="email"
                            class="form__input"
                            name="mail"
                            placeholder=" "
                        />
                        <span class="form__label">Email</span>
                    </label>

                    <label class="form__field">
                        <input
                            type="tel"
                            class="form__input"
                            name="tel"
                            placeholder=" "
                        />
                        <span class="form__label">Телефон</span>
                    </label>

                    <label class="form__field">
                        <span class="form__label form__label-text"
                            >Повідомлення</span
                        >
                        <textarea
                            class="textarea"
                            name="text"
                            placeholder=""
                        ></textarea>
                    </label>

                    <button class="button form__btn" type="submit">
                        Надіслати
                    </button>
                </form>
            </div>
            <div class="footer__information">
                <div class="links__wrapper">
                    <b class="footer__title">KidsHab</b>
                    <p>Розробники</p>
                    <b class="footer__title">Завантажити TeenHub</b>
                    <a
                        class="button btn__apple"
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        >App Store</a
                    >
                    <a
                        class="button btn__google"
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Google Play</a
                    >
                    <!-- Структура -->
                </div>
                <div class="contacts__wrapper">
                    <h3 class="section__title form__title">Контакти</h3>
                    <address>
                        <p>Україна, Київ,вул. Є. Коновальця, 36</p>

                        <a href="mailto:info@goit.ua">info@goit.ua</a>
                        <a href="tel:+0503661777">050 366 17 77</a>
                        <a href="tel:+0673269592">050 366 17 77</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>
