<!-- Future -->
<section class="section__clr">
    <div class="container">
        <div class="wrapper">
            <h2 class="section__title">
                Станьте батьками, яким діти будуть вдячні у майбутньому
            </h2>
            <svg class="future__icon" width="16">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="form__wrapper">
                <h3 class="section__title form__title">Зв'яжіться з нами</h3>
                <form class="form" autocomplete="off">
                    <label class="form__field">
                        <input
                            type="text"
                            class="form__input"
                            name="name"
                            placeholder=" "
                        />
                        <span class="form__label">ім'я</span>
                    </label>

                    <label class="form__field">
                        <input
                            type="email"
                            class="form__input"
                            name="mail"
                            placeholder=" "
                        />
                        <span class="form__label">Email</span>
                    </label>

                    <label class="form__field">
                        <input
                            type="tel"
                            class="form__input"
                            name="tel"
                            placeholder=" "
                        />
                        <span class="form__label">Телефон</span>
                    </label>

                    <label class="form__field">
                        <span class="form__label form__label-text"
                            >Повідомлення</span
                        >
                        <textarea
                            class="textarea"
                            name="text"
                            placeholder=""
                        ></textarea>
                    </label>

                    <button class="button form__btn" type="submit">
                        Надіслати
                    </button>
                </form>
            </div>
            <div class="footer__information">
                <div class="links__wrapper">
                    <h3 class="section__title form__title">
                        <b>KidsHab</b>
                    </h3>
                    <p class="footer__descr">Розробники</p>
                    <h3 class="footer__title">Завантажити <b>KidsHab</b></h3>
                    <a
                        class="button btn__apple"
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <svg width="209" height="70">
                            <use
                                href="./images/symbol-defs.svg#icon-app-store-violet"
                            ></use>
                        </svg>
                    </a>
                    <a
                        class="button btn__google"
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><svg width="235" height="70">
                            <use
                                href="./images/symbol-defs.svg#icon-google-play-violet"
                            ></use>
                        </svg>
                    </a>
                </div>
                <div class="contacts__wrapper">
                    <h3 class="section__title form__title">Контакти</h3>
                    <address>
                        <p class="contacts__descr">Україна, Київ</p>
                        <p class="contacts__descr">вул. Є. Коновальця, 36</p>

                        <a
                            class="contacts__link contacts__mail"
                            href="mailto:info@goit.ua"
                            >info@goit.ua</a
                        >
                        <a
                            class="contacts__link contacts__tel"
                            href="tel:+0503661777"
                            >050 366 17 77</a
                        >
                        <a
                            class="contacts__link contacts__tel"
                            href="tel:+0673269592"
                            >050 366 17 77</a
                        >

                        <ul class="social">
                            <li class="social__links">
                                <a href="#">
                                    <svg width="35" height="35">
                                        <use
                                            href="./images/symbol-defs.svg#icon-facebook"
                                        ></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__links">
                                <a href="#">
                                    <svg width="35" height="35">
                                        <use
                                            href="./images/symbol-defs.svg#icon-instagram"
                                        ></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
        <div class="footer__box">
            <a class="button btn-to-top" href="#top">
                <svg width="38" height="24">
                    <use href="./images/symbol-defs.svg#icon-up"></use>
                </svg>
                Up</a
            >
            <p class="footer__descr">@2020 by GoIT</p>
        </div>
    </div>
</footer>
