<header class="header">
    <div class="container">
        <a href="#" class="site__logo"></a>
        <ul class="site__nav">
            <li class="site__item"><a href="" class="site__nav__link"></a></li>
            <li class="site__item"><a href="" class="site__nav__link"></a></li>
        </ul>
        <select class="form-select" aria-label="Default select example">
            <!-- <option selected>Open this select menu</option> -->
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</header>
