<header class="header">
    <div class="container">
        <a href="#" class="site__logo">KidHab</a>
        <nav class="site__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Про додаток</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Команда</a>
                </li>
            </ul>
            <select class="form__select" aria-label="Default select example">
                <option value="1"><a href="#">icon 1</a></option>
                <option value="2"><a href="#">icon 2</a></option>
                <option value="3"><a href="#">icon 3</a></option>
            </select>
        </nav>
    </div>
</header>
